.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.form {
    margin-top: 10%;
    width: 50%;
    animation: 1s fadeIn;
}

.c1 {
    animation: 1.2s bounceIn;
}