<mat-sidenav-container style="overflow-x: hidden;" class="min-h">
  <mat-sidenav mode="push" #sidenav (closed)="closed()" [(opened)]="opened" class="menu">
   <div class="logo-container">
    <img class="logo" src="https://scontent.fgdl1-2.fna.fbcdn.net/v/t1.0-9/89064375_115650806693978_6747484288775618560_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_eui2=AeGjY5Uoq8eBm6UzTElO41yM-qiN6m_XOaH6qI3qb9c5oTTPxVSBGxFYqSz-f6BbQPdGHeclzsngE4JnScHBVLHA&_nc_ohc=k7QHkcc382kAX-VAGtG&_nc_ht=scontent.fgdl1-2.fna&oh=a463b0bf8462b6c3f6b42e7b250aa434&oe=5F1066ED" alt="hackaton">
   </div>
   <ul *ngIf="logged" class="nav">
     <li><a (click)="goToRoute('')">Home</a></li>
     <li><a (click)="goToRoute('add')">Add</a></li>
     <li><a (click)="goToRoute('edit')">Delete</a></li>
     <li><a (click)="logout()">Logout</a></li>
   </ul>
   <ul *ngIf="!logged" class="nav">
    <li><a (click)="goToRoute('')">Home</a></li>
    <li><a (click)="goToRoute('login')">Login</a></li>
    <li><a (click)="goToRoute('arquitectura')">Arq</a></li>
  </ul>
  </mat-sidenav>

  <mat-sidenav-content style="overflow-x: hidden;">
    <main>
      <header>
        <app-toolbar [text]="texto"></app-toolbar>
      </header>

      <article style="min-height: 90vh;">
          <router-outlet></router-outlet>
      </article>

    </main>
  </mat-sidenav-content>


</mat-sidenav-container>
