<div  *ngIf="!logged" class="home">
    <app-back></app-back>
    <div class="divider"></div>
    <h1 class="title" >List of superheroes</h1>
    <div class="divider"></div>
    <app-supercards></app-supercards>
</div>

<div *ngIf="logged" class="home" animateOnScroll animationName="animated fadeIn">
    <div class="container">
        <div class="card text-center">
            
            <div class="card-header">
              Hello administrator, What do you want to do?
            </div>
            <div class="card-body">
                <div class="buttons">
                    <a (click)="goTo('add')" class="btn btn-primary">Add Heroe</a>
                    <a (click)="goTo('edit')" class="btn btn-danger">Delete Heroe</a>
                </div>
            </div>
          </div>
    </div>
</div>