.divider {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90vh;
  animation: fadeIn 2s;
}

.custom {
  width: 60%;
}

.buttons button{
  margin: 15px;
}

.class {
  animation: fadeIn 2s;
}