<div class="content" animateOnScroll animationName="animated fadeIn">
    <div *ngIf="!loading" class="row">
        <div class="col-md-6" style="display: flex; justify-content: center;">
            <img class="img" [src]="heroe.image_url" >
        </div>
        <div class="col-md-6" style="display: flex; justify-content: center; align-items: center; align-content: center;">
            <div class="card" style="margin-top: 1%; width: 80%;">
                <h1 class="card-header">{{heroe.name}}</h1>
                <div class="card-body">
                    <h2 class="card-title">First seen in: {{heroe.first_appereance}}</h2>
                    <h3 class="card-title">Identity</h3>
                    <p class="card-text">
                        Real Name: {{heroe['identity']['full_name']}} <br>
                        Age: {{heroe['identity']['age']}} <br>
                        Gender: {{heroe['identity']['gender']}}
                    </p>
                    <h2 class="card-title">Biography</h2>
                    <p class="card-text">
                            {{heroe.bio}}
                    </p>
                    <h2 class="card-title">Superpowers</h2>
                    <ul>
                        <li *ngFor="let power of heroe['superpowers']">{{power}}</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div> 
